*{
	text-align: center;
	font-family: 'EB Garamond';
}

.title{
	text-align: left;
	font-size: 150px;
	color:  black;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.subtitle{
	font-style: italic;
	font-size: 50px;
	text-align:  left;
	margin-left: 20px;
	margin-right: 20px;
}

body{
	background-color: tomato;
}

p{
	font-size: 40px;
	color: white;
	border-width: 100px;
}

h1{}

h2{}

h3{}

a:link{
	color: black;
}

a:hover{
	color: white;
}

a:visited:{
	color: dodgerblue;
}
