body{
  text-align:center;
  font-family: 'Hahmlet';
}

.mySlides Stage 1.JPG{
  display: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 75%; 
  height: 0px;
  border: .5px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

