*{
  paddig: 0;
  margin: 0;
  box-sizing: border-box;
}

hr{
  margin: 20px;
}

h2{
  margin: 20px;
}

.textchange1{
  position: absolute;
  transform: translate(4vw, 8vh);
}

.textchange2{
position: absolute;
transform: translate(35vw,8vh);

}

.textchange3{
position: absolute;
transform: translate(70vw,8vh);

}

.imagechange{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding:  50px;
  padding-bottom: 10px;
} 

.imagechange img{
  width: 1000%;
  max-width: 100%;
  transition-timing-function: ease-in-out;
}

body{
  text-align:center;
  font-family: 'Hahmlet';
}

#myRange{
  -webkit-appearance: none;
  width: 75%; 
  height: 0px;
  border: .5px solid #000000;
}

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
}

.stage1line{
  box-sizing: content-box;
  position: absolute;
  transform: translate(10vw,20vh)rotate(60deg);
  border-top: 2px dotted darkgrey;
  width: 200px;
}

.stage2line{
  position: absolute;
  transform: translate(40vw,20vh)rotate(90deg);
  border-top: 2px dotted darkgrey;
  width: 170px;
}

.stage3line{
  position: absolute;
  transform: translate(70vw,20vh)rotate(120deg);
  border-top: 2px dotted darkgrey;
  width: 200px;
}



