* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body{
  text-align:center;
  font-family: 'Hahmlet';
}

hr {
  align-content: center;
  width: 100%;
  margin: 20px;
}

h1{
  width: 100%;
  margin: 20px;
}

.slideshow-container {
  position: relative;
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:50%;
  background-image: url("stage1.jpg");
  transition: background-image .5s;
  padding:80px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 75%; 
  height: 0px;
  border: .5px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
}