body {
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    width: 140vw;
    color: black;
    background-image: linear-gradient(120deg, whitesmoke, floralwhite);
    margin-left: 30px;
    font-size: 17px;
    line-height: 65%;
}

h1 {
    color: darkmagenta;
    text-decoration: underline 0.2rem;
    font-size: 22px;
    padding-bottom: 20px;
    margin-top: 30px;
}

h2 {
    color: darkcyan;
    text-decoration: underline crimson 0.1rem;
    font-size: 20px;
    padding-bottom: 10px;
}

button {
  margin-top: 20px;
  background-color: mediumorchid;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: darkblue;
}

.c {
  color: green;
  padding-left: 30px;
}

.ind {
  padding-left: 60px;
}

.pb {
  padding-bottom: 20px;
}

.mb {
  margin-bottom: 20px;
}

.ml {
  margin-left: 20px:
}

img {
    margin-top: 20px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.highlight {
    background-color: yellow;
}

.underline {
    text-decoration: underline;
}

.hola{
    color: pink;
    background-color: green;
}

img {
    border-radius: 10%;
}

ul {
list-style-type: none
}

li {
    padding-bottom: 10px;
}

