*{
	text-align: left;
	font-family: 'EB Garamond';
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-container > div {
  width: 1500px;
  margin: 100px;
}

.title{
	font-size: 150px;
	color:  black;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.subtitle{
	font-style: italic;
	font-size: 50px;
	text-align:  left;
	margin-left: 20px;
	margin-right: 20px;
}

body{
	background-color: tomato;
}

p{
	font-size: 40px;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}

h1{
	font-size: 125px;
	margin-left: 20px;
	margin-right: 20px;
}

h2{
	font-size: 100px;
	margin-left: 20px;
	margin-right: 20px;
}

h3{
	text-align: center;
	font-size: 75px;
}

a:link{
	color: black;
}

a:hover{
	color: white;
}

a:visited{
	color: turquoise;
}
