
.container{
  width: 1200px;
  height:800px;
  background-color:
  margin: 100px;

}

div.a {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: orange;
  transform: translateX(800px);
  opacity: 50%;
  
}

div.b {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: green;
  transform: translate(200px, -100px);
  opacity: 50%;
}

div.c {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: purple;
  transform: translate(200px, 500px);
  opacity: 50%;
}

div.d {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: yellow;
  transform: translate(800px, 400px);
  opacity: 50%;
}

div.e {
  position: relative;
  width: 50px;
  height: 800px;
  background-color:blue;
  transform: translate(275px, -400px);
  opacity: 50%;
}

div.f {
  position: relative;
  width: 50px;
  height: 800px;
  background-color:red;
  transform: translate(875px, -1200px);
  opacity: 50%;
}

div.g {
  position: relative;
  width: 800px;
  height: 75px;
  background-color: pink;
  transform: translate(200px,-1650px);
  opacity: 50%;