
.container{
  width: ;
  height:;

}

div.a {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: yellow;
  
}

div.b {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: yellow;
}

div.c {
  position: relative;
  width: 70px;
  height: 200px;
  background-color: yellow;
}