body{
background-color: #EEECE2;
}

h1{
font-family: mrs-eaves-xl-serif, serif;
font-weight: 400;
font-style: italic;
font-size: 120px;
}

h1:hover {
cursor: pointer;
text-decoration: underline;
text-decoration-thickness: 4px;
}

h2{
font-family: nimbus-sans, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 18px;
	
}

h3{
font-family: mrs-eaves-xl-serif, serif;
font-weight: 400;
font-style: italic;
font-size: 18px;
	
}

p{
font-family: nimbus-sans, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 48px;
line-height: normal;
}

.bodytext{
font-family: mrs-eaves-xl-serif, serif;
font-weight: 400;
font-style: normal;
font-size: 16px;
	
}

button{
border: none;
cursor: pointer;
appearance: none;
background-color: inherit;
outline: none !important;
box-shadow: none !important;
}

.col-lg-4 > div {
  box-shadow: 0px 0.25px 1px;
  padding:15px;
  width: 400px;
  height: 400px;
}

.yourName{
font-family: nimbus-sans, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 18px;
background-color: #EEECE2;
border: none;
outline: none !important;
box-shadow: none !important;
}

.promptText{
font-family: mrs-eaves-xl-serif, serif;
font-weight: 400;
font-style: normal;
font-size: 18px;
color: black;
}

.textBox{
font-family: mrs-eaves-xl-serif, serif;
font-weight: 400;
font-style: normal;
font-size: 16px;
background-color: #EEECE2;
border: none;
appearance: none;
outline: none !important;
box-shadow: none !important;

}

.promptButton{
font-family: nimbus-sans, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 16px;
border-radius: 20px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border: 1px solid black
}

.submitButton{
font-family: nimbus-sans, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 16px;
border-radius: 20px;
padding-left: 20px;
padding-right: 20px;
border: 1px solid black
}

/* For About Dropdown */
.hidden{
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden; /*IE 12+*/
}
.ghost{
display: none;
}

.blk{   
  position: absolute;
  visibility: hidden; /*IE 12+*/
}
.xhide{
  display: none;
}


