
.container{
  width: 1200px;
  height:800px;
  margin: 100px;
  background-color: beige;

}

div.a {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: green;
  mix-blend-mode: multiply;
  animation-name: aslide;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  
}

@keyframes aslide {
  0% {
    transform: translate(200px,0px);
  }

  100% {
    transform: translate(800px,700px);
  }
}


div.b {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: orange;
  mix-blend-mode: multiply;
  animation-name: bslide;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

@keyframes bslide {
  0% {
    transform: translate(800px,0px);
  }

  100% {
    transform: translate(200px,700px);
  }
}

div.c {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: purple;
  mix-blend-mode: multiply;
  animation-name: cslide;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

@keyframes cslide {
  0% {
    transform: translate(200px,700px);
  }

  100% {
    transform: translate(800px,0px);
  }
}

div.d {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: yellow;
  mix-blend-mode: multiply;
  animation-name: dslide;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

@keyframes dslide {
  0% {
    transform: translate(800px,600px);
  }

  100% {
    transform: translate(200px,-100px);
  }
}


div.e {
  position: relative;
  width: 50px;
  height: 800px;
  background-color:blue;
  mix-blend-mode: multiply;
  animation-name: eslide;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

@keyframes eslide {
  0% {
    transform: translate(275px,-200px);
  }

  100% {
    transform: translate(875px,-200px);
  }
}

div.f {
  position: relative;
  width: 50px;
  height: 800px;
  background-color:red;
  mix-blend-mode: multiply;
  animation-name: fslide;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

@keyframes fslide {
  0% {
    transform: translate(875px,-1000px);
  }

  100% {
    transform: translate(275px,-1000px);
  }
}

div.g {
  position: absolute;
  width: 800px;
  height: 75px;
  background-color: pink;
  mix-blend-mode: multiply;
  animation-name: spin;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

@keyframes spin {
 0%{
    transform: rotate(0 deg);

   }
100%{
    transform: rotate(360deg);
   }
}
