*{
  background-color: #EEECE2;
  position: relative;
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 400;
  font-style: normal;
}

.container{
  height: 500px;
  width: 500px;
  box-shadow: 0px 0.25px 1px;
  padding: 50px;
  margin-top: 20vh;
  margin-left: 50vh;
  margin-right: 50vh;

}

/*font-family: nimbus-sans, sans-serif;
font-weight: 400;
font-style: normal;/